pkgbase = dmenu-git
	pkgdesc = A generic menu for X
	pkgver = 4.9.5.gdb6093f
	pkgrel = 1
	url = http://tools.suckless.org/dmenu/
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = git
	depends = sh
	depends = libxinerama
	depends = libxft
	provides = dmenu
	conflicts = dmenu
	source = git://git.suckless.org/dmenu
	source = dmenu-xft.diff
	source = dmenu-xresources-20200302-db6093f.diff
	sha256sums = SKIP
	sha256sums = 3bac812c74bfd71e7ee6536da5a369d31095d13de957a57a4702c3b3f2776744
	sha256sums = 45dbb037c3fff5ff511767d154be58b17d5c9319755c1fae88464d6c9c31b047

pkgname = dmenu-git

